<p>
  <mat-slide-toggle>Slide me!</mat-slide-toggle>
</p>
<p>
  <mat-slide-toggle labelPosition="before">...and slide me too!</mat-slide-toggle>
</p>


<section>
  <h3>Single selection</h3>
  <mat-button-toggle-group
    aria-label="Favorite Color"
    name="favoriteColor"
  >
    <mat-button-toggle value="red">Red</mat-button-toggle>
    <mat-button-toggle value="green">Green</mat-button-toggle>
    <mat-button-toggle value="blue">Blue</mat-button-toggle>
  </mat-button-toggle-group>
</section>
<section>
  <h3>Multiple selection</h3>
  <mat-button-toggle-group
    aria-label="Ingredients"
    multiple
    name="ingredients"
  >
    <mat-button-toggle value="flour">Flour</mat-button-toggle>
    <mat-button-toggle value="eggs">Eggs</mat-button-toggle>
    <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
  </mat-button-toggle-group>
</section>
